// 全局自定义样式

// 字号
$fontSize12 = 1.2rem
$fontSize14 = 1.4rem
$fontSize15 = 1.5rem
$fontSize16 = 1.6rem
$fontSize20 = 2rem
$fontSize24 = 2.4rem
$fontSize28 = 2.8rem
$fontSize48 = 4.8rem
$fontSize60 = 6rem
$fontSize90 = 9rem

// 字重
$fontWeight400 = 400
$fontWeight500 = 500
$fontWeight600 = 600

// 颜色
$highlightDetailColor = #7065FF
$bgColor = #F9FAFD
$borderLineColor = #E8EBF5
$detailColor = #4A4A7F
$whiteColor = rgba(255, 255, 255, 1)
$footerTopColor = #302F4C
$footerBottomColor = #040333

// 字体颜色
$blackColor = rgba(0,0,0,1)
$blackColorOpacity = rgba(0,0,0,.64)
$blackColorOpacity1 = rgba(0,0,0,.65)
$whiteColor = rgba(255,255,255,1)
$whiteColorOpacity = rgba(255,255,255,.85)
$whiteColorOpacity1 = rgba(255,255,255,.65)
$whiteColorOpacity2 = rgba(255,255,255,.15)

// 边框圆角
$borderRadius = 0.4rem

// 布局
$moduleDistance = 8rem
$footerDistance = 10rem
$navbarHeight = 6.3rem
$sidebarWidth = 36.8rem
$contentWidth = 120rem
$footerTopContentWidth = 115.2rem


$MQNarrow = 959px
$MQMobile = 872px
$MQMobileNarrow = 419px

$nprogressColor = #7065FF