@font-face {
  font-family: "iconfont"; /* Project id 2765226 */
  src: url('iconfont.woff2?t=1676025475032') format('woff2'),
       url('iconfont.woff?t=1676025475032') format('woff'),
       url('iconfont.ttf?t=1676025475032') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-IRITA:before {
  content: "\e7b2";
}

.icon-AVATA:before {
  content: "\e7b3";
}

.icon-MOTBOX:before {
  content: "\e7b4";
}

.icon-IRITA_W:before {
  content: "\e7b5";
}

.icon-AVATA_W:before {
  content: "\e7b6";
}

.icon-MOTBOX_W:before {
  content: "\e7b7";
}

.icon-DA:before {
  content: "\e763";
}

.icon-BEAN:before {
  content: "\e762";
}

.icon-OPB:before {
  content: "\e761";
}

.icon-HUB:before {
  content: "\e760";
}

.icon-CE:before {
  content: "\e75f";
}

.icon-shouqi:before {
  content: "\e721";
}

.icon-zhankai:before {
  content: "\e71e";
}

.icon-caidan:before {
  content: "\e71d";
}

.icon-wulianwang:before {
  content: "\e71c";
}

.icon-banquan:before {
  content: "\e71b";
}

.icon-jinrong:before {
  content: "\e71a";
}

.icon-yiliao:before {
  content: "\e719";
}

.icon-tan:before {
  content: "\e718";
}

.icon-zhengwu:before {
  content: "\e717";
}

.icon-yingyongceng:before {
  content: "\e70b";
}

.icon-diceng:before {
  content: "\e70a";
}

.icon-jiantou_left:before {
  content: "\e709";
}

.icon-jiantou:before {
  content: "\e707";
}

.icon-a-IRITADA:before {
  content: "\e706";
}

.icon-a-IRITABEAN:before {
  content: "\e705";
}

.icon-a-IRITAOPB:before {
  content: "\e704";
}

.icon-a-IRITAHUB:before {
  content: "\e703";
}

.icon-a-IRITACE:before {
  content: "\e702";
}

.icon-a-learnmore:before {
  content: "\e701";
}

